.btnElegibilidad {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-primary {
    color: #fff;
    background-color: #005476;
    border-color: #2e6da4;

}

.page-item.active .page-link, .page-item.active .dataTable-pagination a, .dataTable-pagination .page-item.active a, .dataTable-pagination li.active .page-link, .dataTable-pagination li.active a {
    z-index: 3;
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}