@model TratamientoPrep


<h2>
    Información del Paciente
</h2>

<div class="tituloDiv">Inicio del Tratamiento de la PrEP</div>

<div>

    <table>
        <tbody><tr>
            <td>
                    <strong>ID Prep: </strong>@ViewBag.idDatos

                </td>
        </tr>
        <tr>
            <td>
                    <strong>Nombres: </strong> @ViewBag.nombre
                    
            </td>
        </tr>
        <tr>
                <td><strong>Documento de Identidad: </strong> @ViewBag.documento </td>
        </tr>
    </tbody></table>

</div>

<form asp-controller="RechazadoSuspendido" asp-action="Suspender" method="post">
    <input type="hidden" name="idDatos" value="@ViewBag.idDatos" />

    <div id="divTratamientoPrep">
    <table class="table">
        <tbody>
            <tr>
             
                <td colspan="2">
                    <strong>PrEP Suspendida:</strong>
                    <br>
                        <input id="txtPrepSuspendida" required asp-for="PrepSuspendida" name="PrepSuspendida" class="form-control col-4 date center" type="date" placeholder="Fecha" autocomplete="error">
                </td>
                <td colspan="2">
                    <strong>  Motivo de la Interrupción:</strong>
                    <br>
                        <input id="motivo1" onchange="motivosOtro(this.id);" name="MotivosInterrupcionPrep" class="styled" type="radio" value="Ya no esta expuesto a riesgo significativo" autocomplete="error"> Ya no esta expuesto a riesgo significativo<br>
                        <input id="motivo2" onchange="motivosOtro(this.id);" name="MotivosInterrupcionPrep" class="styled" type="radio" value="Efectos secundarios" autocomplete="error"> Efectos secundarios <br>
                        <input id="motivo3" onchange="motivosOtro(this.id);" name="MotivosInterrupcionPrep" class="styled" type="radio" value="Desición del paciente" autocomplete="error"> Decisión del paciente <br>
                        <input id="otro" onchange="motivosOtro(this.id);" class="styled" type="radio" autocomplete="error"> Otros: <br>
                        <input id="otroText"  disabled asp-for="MotivosInterrupcionPrep" name="MotivosInterrupcionPrep" type="text" placeholder="Especificar" class="form-control" autocomplete="error">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <strong>Estado del VIH al momento de la Interrupción:</strong>
                    <br>
                        <input id="chkEstadoVIH1" asp-for="EstadoVihAlInterrumpir" name="EstadoVihAlInterrumpir" class="styled" type="radio" value="Negativo" autocomplete="error"> Negativo <br>
                        <input id="chkEstadoVIH2" asp-for="EstadoVihAlInterrumpir" name="EstadoVihAlInterrumpir" class="styled" type="radio" value="Positivo" autocomplete="error"> Positivo <br>
                        <input id="chkEstadoVIH3" asp-for="EstadoVihAlInterrumpir" name="EstadoVihAlInterrumpir" class="styled" type="radio" value="Desconocido" autocomplete="error"> Desconocido
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    Observaciones:<br>
                        <input type="text" required id="Observaciones" asp-for="Observaciones" name="Observaciones" class="form-control" autocomplete="error">
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <br>

   
    <button type="submit" class="btn btn-success"><i class="fa-solid fa-check"></i> Suspensión Tratamiento</button>
    <a onclick="history.back();" class="btn btn-danger"><i class="fa-solid fa-xmark"></i> Cancelar</a>

</form>



@section scripts{
    <script type="text/javascript">

        var motivosOtro = (id) => {
            var otro = document.getElementById("otro").checked;

            if (otro == true && id == "otro") {
                document.getElementById("otroText").disabled = false;


            }
            else {

                document.getElementById("otroText").disabled = true;
            }
        }

    </script>
}
